*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #f3f3f3;
}

.todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.todo button,
.todo input {
    display: inline-block;
}
